.userDetails {
  padding-top: 2rem;
  
  &__empty {
    text-align: center;
    font-size: 18px;
    color: #888;
    font-style: italic;
  }

  &__container {
    font-size: .8rem;

    &--row {
      display: flex;
      flex-direction: row;
      gap: 5px;
    }
  }
}